* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Styling for the header section - this includes the navigation links */

.navigation {
  background-color:#f9cbd2;
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  justify-content: space-between;
  align-items: center;
}

/* styling for h1 within header */

.navigation h1 {
  width: 25%;
  font-weight: 500;
  font-size: 30px;
  color:rgb(112, 204, 232);
  background-color: rgb(177, 209, 237);
  border-style: solid;
  border-color:azure;
  border-width: 2.5px;
}

#navigation-links {
  display: flex;
  width: 50%;
  justify-content: space-evenly;

}

#navigation-links a {
  color: aliceblue;
}

.navigation a:hover {
  color: 	#cf8590;
}



 /*styling for hero banner which includes styling for background image*/ 
.hero-banner {
  margin: 0px 5%;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  background-image: url("images/IMG_6897.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


 /*you need to size the profile image you added to hero banner*/
 
 .hero-banner img {
  width: 100px;
  height: auto;
 }

.hero-banner h2 {
  color:bisque;
  background-color: azure;
  margin-bottom: 20px;
  border-style: solid;
  border-color: antiquewhite;
  border-width: 2.5px;
}


.hero-banner {
  height: 100px;
  background-image: url(images/02-portfolio-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text{
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.flexcontainer,
.pagecontainer,
.contact-container {
  display: flex;
  background-color: #baeaeb;
  

}

.flexcontainer >div,
.pagecontainer >div,
.contact-container >div {
  background-color: #fff8dc;
  margin: 0px;
  padding: 60px;
  font-size: 30px;
  Border-right-style: solid;
  border-color: #ffb6c1;
  border-width: 5px;
  text-decoration: underline;
  text-align: right;

}

#avatar >div {
  background-image: url(/Users/marianaserrao/Bootcamp/personal-portofolio/images/IMG_6897.jpg);
}



.aboutme,
.worktitle,
.contact {
  margin-left: 32px;
  color: aliceblue;
}

.aboutme h3,
.worktitle h3, 
.contact h3 {
  text-align: center;
}

.flex-container img {
  max-height: 100px;
}

.float-left {
  float: left;
  margin-right: 20px;
}

/* Portofolio Grid CSS */


#portofolioGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 200px 200px;
  grid-template-areas: 
        "horiseon horiseon horiseon horiseon"
        "myparty xmasmiracles "
        "firelite resume";
}

.portofolioGridArea{
  background-color: aqua;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  display: grid;
  align-content: end;
  cursor: pointer;
}

/* Contact Section Styling */



 /*Footer styling */
 
footer {
  padding: 30px;
  clear: both;
  text-align: left;
}