* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Styling for the header section - this includes the navigation links */

.navigation {
  background-color:#f9cbd2;
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  justify-content: space-between;
  align-items: center;
}

/* styling for h1 within header */

.navigation h1 {
  width: 25%;
  font-weight: 500;
  font-size: 30px;
  color:rgb(112, 204, 232);
  background-color: rgb(177, 209, 237);
  border-style: solid;
  border-color:azure;
  border-width: 2.5px;
}

#navigation-links {
  display: flex;
  width: 50%;
  justify-content: space-evenly;

}

#navigation-links a {
  color: aliceblue;
}

.navigation-links a:hover {
  color: 	#cf8590;
}



 /*styling for hero banner which includes styling for background image*/ 
.hero-banner {
  margin: 0px 5%;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  /* change background img*/
  background-image: url("images/IMG_6897.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


 /*you need to size the profile image you added to hero banner*/
 
 .hero-banner img {
  width: 100px;
  height: auto;
 }

.hero-banner h2 {
  color:bisque;
  background-color: azure;
  margin-bottom: 20px;
  border-style: solid;
  border-color: antiquewhite;
  border-width: 2.5px;
}

/*main content of the page styling */

main {
  display: grid;
  margin: 0px 5%;
  background-color: bisque;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 200px 400px 200px 200px 120px;
  grid-template-areas: 
      "about-me about-me-section about-me-section"
      "work study-guide study-guide"
      "work console-finances horiseon-refactor"
      "work password-generator project-5"
      "contact contact-grid contact-grid";
}

/* need to style the subheadings to be on the left of the page*/

.subheading {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  font-size: 32px;
  margin-right: 5px;
  margin-top: 20px;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: rgb(178, 225, 209);
}

/* need to style the headers to be on the left side of the page */

h3 {
  margin: 10px 10px;
}

/* subheadings need to be asisgned to a grid position as currently run along the top of the page.*/

#about-me {
  grid-area: about-me;
}

#work {
  grid-area: work;
  margin-bottom: 5px;
}

#contact {
  grid-area: contact;
}

.content {
  border-style: solid;
  border-width: 2.5px;
  border-color:#f9cbd2;
}

/* styling for work section, need to include background image placement */

.work-grid {
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 4.5px;
  color: #f9cbd2;
  opacity: 1;
  transition: all 0.7s ease-in-out;
}



/* Contact Section Styling */



 /*Footer styling */
 
footer {
  padding: 30px;
  clear: both;
  text-align: left;
}