* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Styling for the header section - this includes the navigation links */

.navBar {
  background-color:#f9cbd2;
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  justify-content: space-between;
  align-items: center;
}

/* styling for h1 within header */

.navBar h1 {
  width: 25%;
  font-weight: 500;
  font-size: 30px;
  color:rgb(112, 204, 232);
  background-color: rgb(177, 209, 237);
  border-style: solid;
  border-color:azure;
  border-width: 2px;
}

#navigation-links {
  display: flex;
  width: 50%;
  justify-content: space-evenly;

}

#navigation-links a {
  color: aliceblue;
}

#navigation-links a:hover {
  color: 	#cf8590;
}



 /*styling for hero banner which includes styling for background image*/ 
.hero-banner {
  margin: 0px 5%;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  /* change background img*/
  background-image: url("images/IMG_6897.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


 /*you need to size the profile image you added to hero banner*/
 
 .hero-banner img {
  width: 100px;
  height: auto;
 }

.hero-banner h2 {
  color:bisque;
  background-color: azure;
  margin-bottom: 20px;
  border-style: solid;
  border-color: antiquewhite;
  border-width: 2px;
}

/*main content of the page styling */

main {
  display: grid;
  margin: 0px 5%;
  background-color:#f9cbd2;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 200px 400px 200px 200px 120px;
  grid-template-areas: 
      "about-me-h about-me-section about-me-section"
      "work-h study-guide study-guide"
      "work-h console-finances horiseon-refactor"
      "work-h password-generator project-5"
      "contact-h contact-grid contact-grid";
}

/* need to style the subheadings to be on the left of the page*/

.subheading {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  font-size: 30px;
  margin-right: 5px;
  margin-top: 20px;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: rgb(178, 225, 209);
}

/* need to style the headers to be on the left side of the page */

h3 {
  margin: 10px 10px;
}

/* subheadings need to be asisgned to a grid position as currently run along the top of the page.*/

#about-me-h {
  grid-area: about-me-h;
}

#work-h {
  grid-area: work-h;
  margin-bottom: 5px;
}

#contact-h {
  grid-area: contact-h;
}

.content {
  border-style: solid;
  border-width: 3px;
  border-color:#9e797e;
}

/* styling for work section, need to include background image placement */

.grid {
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 5px;
  color:#cf8590;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

/* adding hover for aesthetics of the overall page*/
.grid:hover {
  color: rgb(226, 208, 208);
  opacity: 0.7;
}

/* projects need to be set in place within the grid. background images for each projects need to be added */


/* add images to all projects*/
#study-guide {
  grid-area: study-guide;
  background-image: url("images/02-portfolio-3.jpg");
  margin: 15px 5px 5px 5px;
}

#console-finances {
  grid-area: console-finances;
  background-image: url("images/02-portfolio-2.jpg");
}

#horiseon-refactor {
  grid-area: horiseon-refactor;
  background-image: url("images/02-portfolio-4.jpg");
}

#password-generator {
  grid-area: password-generator;
  background-image: url("images/02-portfolio-1.jpg");
}

#project-5 {
  grid-area: project-5;
  background-image: url("images/balls-798372_1280.jpg");
}

/* need to style sections outside of the project grid */

#about-me-section,
#contact-grid {
  
  opacity: 1;
  display: flex;
  margin: 20px 5px 5px 5px;
}


/* styling to keep sections within outlined margins outside project grids*/

#about-me-section {
grid-area: about-me-section;
align-content: center;
justify-content: start;
flex-wrap: wrap;
font-weight: bold;
padding: 2%;
}

#contact-grid {
  grid-area: contact-grid;
  justify-content: space-evenly;
  align-items: center;
}

/* need to decide on font sizes for the subheadings within contact me section */

#contact-grid a {
  font-size: 20px;
  color: 	#cf8590;
}


#contact-grid a:hover {
  color: aliceblue;
}


.content h4 {
  background-color: #f9cbd2;
  opacity: 0.8;
  padding: 20px;
  padding-bottom: 40px;
  height: 25px;
  color: #cf8590;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* media queries need to be changed so that layout works across different screen sizes */

@media screen and (max-width: 979px) {

  .navigation {
    flex-direction: column;
  }
  
  /* subheadings need to appear on top of the content when screen size changes and the borders need to be amended for this as well */

  .subheading {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 5px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: aquamarine;
    border-right: none;
  }

  h1 {
    text-align: center;
    width: 60%;
  }
 
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px fit-content (150px) 80px 400px 200px 80px 100px;
    grid-template-areas: 
    "about-me-h about-me-h"
    "about-me-section about-me-section"
      "work-h work-h"
      "study-guide study-guide"
      "console-finances horiseon-refactor"
      "password-generator project-5"
      "contact-h contact-h"
      "contact-grid contact-grid" ;
  }
  
  /*font size changed for smaller screen size*/
 #about-me-section {
  margin: 0px 5px;
  font-size: 12px;
 }

 /*margins still need to be adjusted so that  the subheadings match the content*/
 #study-guide,
 #contact-grid {
  margin: 0px 5px;
 }
  
}

/*need to copy the media queries above for a smaller screen size with a max width of 769px*/

@media  screen and (max-width: 769px) {
  /* new grid layout for the smallest screen size*/

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 80px fit-content (150px) 80px 150px 150px 150px 150px 150px 80px 200px;
    grid-template-areas: 
    "about-me-h"
    "about-me-section"
      "work-h"
      "study-guide"
      "console-finances" "horiseon-refactor"
      "password-generator"
      "project-5"
      "contact-h"
      "contact-grid" ;
  }
  
  /* Need to adjust width of the navigation bar*/

  #navigation-links {
    width: 80%;
  }

  h1 {
    width: 60%;
  }

  .hero-banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-banner img {
    width: 100px;
    height: auto;
  }

  .hero-banner h2 {
    margin-bottom: 0px;
    font-size: 20px;
  }

  #study-guide {
    margin: 0px 5px 5px 5px;
  }

  /* links need to stack on top of each other vertically*/

  #contact-grid {
    margin: 0px 5px;
    flex-direction: column;
  }

}